
/* ########## COURSE CSS ########## */

pre {

    font-family: Arial, Verdana, sans-serif;

}

.coursename {

    font-size: 50px; 
    font-weight: bold; 
    color: grey; 
    text-align: center; 
    margin: 100px auto; 
    margin-bottom: -50px; 
    text-transform: uppercase;

}

.title { 

	color: white;
	font-family: Arial, Verdana, sans-serif;
	font-weight: normal;
	text-align: center;
    
    overflow: hidden;
    text-overflow: ellipsis;

}

.tablecontainer {

	overflow-x:auto;
	width: 85%;
	margin: 100px auto;

}

.tableresult {

    font-family: Arial, Verdana, sans-serif;
    border-collapse: collapse;
    /*border: 2px solid black;*/ 
    margin: 0 auto;
    width: 100%;

}

.thresultfront { 

    padding: 20px !important;
    text-align: center !important;
    color: #ff00ff;
    background-color: black;
    text-align: left;
    padding: 8px;

}

.thresult { 

    padding: 20px !important;
    text-align: center !important;
    color: #ff00ff;
    background-color: #121212;
    /*border-bottom: 1px solid grey;*/
    text-align: left;
    padding: 8px;

}

.tdresult { 	
    
    padding: 20px !important;
    text-align: center !important;
    background-color: rgb(40,40,40);
    /*border-bottom: 1px solid grey;*/
    color: white;
    text-align: left;
    padding: 8px;

}

.tdresult-list { 	
    
    padding: 20px !important;
    text-align: center !important;
    /*border-bottom: 1px solid grey;*/
    color: white;
    text-align: left;
    padding: 8px;

}

/*.trresult:hover {

	background-color: rgb(60, 60, 60) !important;
	
}*/

/*.trresult:hover .linkresult {

	color : #ff00ff;

}*/

.trresult-list:nth-child(even) {
    background-color: rgb(40,40,40) !important;
}


.trresult-list:nth-child(odd) {
    background-color: rgb(60,60,60) !important;
}

.linkresult {

	color: #01d475;

}

.linkresult:hover {

	color: orange !important;

}