
.no_results {

    text-align: center;
    font-family: Arial, Verdana, sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;

    overflow: hidden;
    text-overflow: ellipsis;

}

.title { 

    color: white;
    font-family: Arial, Verdana, sans-serif;
    font-weight: normal;
    text-align: center;
    
    overflow: hidden;
    text-overflow: ellipsis;

}

.tablecontainer {

    overflow-x:auto;
    width: 85%;
    margin: 100px auto;
    max-width: 2000px;

}

.tablecontainersum {

    overflow-x:auto;
    width: 85%;
    margin: 50px auto;
    margin-top: 100px;
    max-width: 2000px;

}

.tableresult {

    font-family: Arial, Verdana, sans-serif;
    border-collapse: collapse;
    /*border: 2px solid black;*/ 
    margin: 0 auto;
    width: 100%;

}

.thresultfront { 

    padding: 20px !important;
    text-align: center !important;
    color: #ff00ff;
    background-color: black;
    text-align: left;
    padding: 8px;

}

.thresult { 

    padding: 20px !important;
    text-align: center !important;
    color: #ff00ff;
    background-color: #121212;
    /*border-bottom: 1px solid grey;*/
    text-align: left;
    padding: 8px;

}

.tdresult {     
    
    padding: 20px !important;
    text-align: center !important;
    background-color: rgb(40,40,40);
    /*border-bottom: 1px solid grey;*/
    color: white;
    text-align: left;
    padding: 8px;

}

.tdresult-list {    
    
    padding: 20px !important;
    text-align: center !important;
    /*border-bottom: 1px solid grey;*/
    color: white;
    text-align: left;
    padding: 8px;

}

/*.trresult:hover {

    background-color: rgb(60, 60, 60) !important;
    
}*/

/*.trresult:hover .linkresult {

    color : #ff00ff;

}*/

.trresult-list:nth-child(even) {
    background-color: rgb(40,40,40) !important;
}


.trresult-list:nth-child(odd) {
    background-color: rgb(60,60,60) !important;
}

.linkresult {

    color: #01d475;

}

.linkresult:hover {

    color: orange !important;

}

.thresultadd { 

    padding: 20px !important;
    text-align: center !important;
    color: #ff00ff;
    background-color: #01d475;
    text-align: left;
    padding: 8px;

}

.thresultadd:hover { 

    background-color: #ff00ff;

}


.linkresultadd {

    color: black;
    font-weight: bold;
    text-decoration: none;

}

.linkresultmod {

    font-weight: bold;
    text-decoration: none;
    color: orange;
}

.linkresultmod:hover { 

    color: #ff00ff;

}
