<h1 class="title">EDIT COURSE</h1>

<div class="formcontainer">
    
  <form action="backofficeeditcourse?lang=${lang}&id=${id}" method="POST">

    <div class="fieldcontainercentral">

        <label class="label" for="corso_codice">Code</label>
        <input class="field" type="text" id="corso_codice" name="corso_codice"" placeholder="${corso.codice}" />

        <label class="label" for="corso_anno">Year</label>
        <input class="field" type="text" id="corso_anno" name="corso_anno"" placeholder="${corso.anno}" />

        <label class="label" for="corso_nome">Name</label>
        <input class="field" type="text" id="corso_nome" name="corso_nome"" placeholder="${corso.nome}" />

        <label class="label" for="corso_ssd">SSD</label>
        <input class="field" type="text" id="corso_ssd" name="corso_ssd"" placeholder="${corso.SSD}" />

        <label class="label" for="corso_semestre">Semester</label>
        <select class="field" name="corso_semestre">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>

        <label class="label" for="corso_lingua">Language</label>
        <select class="field" name="corso_lingua">
            <option value="italiano">Italian</option>
            <option value="inglese">English</option>
        </select>

        <label class="label" for="corso_link_homepage">Homepage Link</label>
        <input class="field" type="text" id="corso_link_homepage" name="corso_link_homepage"" placeholder="${corso.linkHomepageCorso}" />

        <label class="label" for="corso_link_risorse">Resources Link</label>
        <input class="field" type="text" id="corso_link_risorse" name="corso_link_risorse"" placeholder="${corso.linkRisorseEsterne}" />

        <label class="label" for="corso_link_forum">Forum Link</label>
        <input class="field" type="text" id="corso_link_forum" name="corso_link_forum"" placeholder="${corso.linkForum}" />
    
    </div>

        <div class="fieldcontainerleft">

            <h1 class="title">ITALIAN COURSE INFO</h1>
            
            <label class="label" for="corso_prerequisiti">Prerequisites</label>
            <textarea class="field" type"text" id="corso_prerequisiti" name="corso_prerequisiti" placeholder="${corso.prerequisiti}" ></textarea>

            <label class="label" for="corso_obiettivi">Course Objectives</label>
            <textarea class="field" type"text" id="corso_obiettivi" name="corso_obiettivi" placeholder="${corso.obiettivi}" ></textarea>
            
            <label class="label" for="corso_mod_esame">Assessment Methods & Criteria </label>
            <textarea class="field" type"text" id="corso_mod_esame" name="corso_mod_esame" placeholder="${corso.modEsame}" ></textarea>

            <label class="label" for="corso_mod_insegnamento">Teaching Methods</label>
            <textarea class="field" type"text" id="corso_mod_insegnamento" name="corso_mod_insegnamento" placeholder="${corso.modInsegnamento}" ></textarea>
            
            <label class="label" for="corso_descrittori_dublino">Dublin Descriptors</label>
            <textarea class="field" type"text" id="corso_descrittori_dublino" name="corso_descrittori_dublino" placeholder="${corso.descittoriDublino}" ></textarea>

            <label class="label" for="corso_sillabo">Course Content</label>
            <textarea class="field" type"text" id="corso_sillabo" name="corso_sillabo" placeholder="${corso.sillabo}" ></textarea>

            <label class="label" for="corso_note">Notes</label>
            <textarea class="field" type"text" id="corso_note" name="corso_note" placeholder="${corso.note}" ></textarea>
            
        </div>


        <div class="fieldcontainerright">
            
            <h1 class="title">ENGLISH COURSE INFO</h1>

            <label class="label" for="corso_prerequisiti">Prerequisites</label>
            <textarea class="field" type"text" id="corso_prerequisiti" name="corso_prerequisiti" placeholder="${corso.prerequisiti}" ></textarea>

            <label class="label" for="corso_obiettivi">Course Objectives</label>
            <textarea class="field" type"text" id="corso_obiettivi" name="corso_obiettivi" placeholder="${corso.obiettivi}" ></textarea>
            
            <label class="label" for="corso_mod_esame">Assessment Methods & Criteria </label>
            <textarea class="field" type"text" id="corso_mod_esame" name="corso_mod_esame" placeholder="${corso.modEsame}" ></textarea>

            <label class="label" for="corso_mod_insegnamento">Teaching Methods</label>
            <textarea class="field" type"text" id="corso_mod_insegnamento" name="corso_mod_insegnamento" placeholder="${corso.modInsegnamento}" ></textarea>
            
            <label class="label" for="corso_descrittori_dublino">Dublin Descriptors</label>
            <textarea class="field" type"text" id="corso_descrittori_dublino" name="corso_descrittori_dublino" placeholder="${corso.descrittoriDublino}" ></textarea>

            <label class="label" for="corso_sillabo">Course Content</label>
            <textarea class="field" type"text" id="corso_sillabo" name="corso_sillabo" placeholder="${corso.sillabo}" ></textarea>

            <label class="label" for="corso_note">Notes</label>
            <textarea class="field" type"text" id="corso_note" name="corso_note" placeholder="${corso.note}" ></textarea>
            
        </div>


    <div class="buttoncontainer">               
        <input class="filterbutton" type="submit" name="modifica_corso_action" value="EDIT"/>
    </div>

  </form>

</div>

</div>